body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 250px;
  height: 100%;
  background-color: #555;
  position: fixed;
  overflow: auto;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #777;
}

section {
  margin-left: 250px;
  padding: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}
